*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuilid

# Intellij
**/*.iml
**/.idea/

# Gradle
**/build/
**/.gradle/

# Android
**/*.apk
**/proguard-rules.pro
